@import url('https://fonts.googleapis.com/css2?family=Borel&family=Dancing+Script:wght@500&family=Josefin+Sans&family=PT+Sans+Narrow&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,700&family=Roboto&family=Source+Code+Pro:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 16px;
    color: #fff;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #fff;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

body{
    width: 100%;
}

/* Header  */
#header{
    display: flex;
    align-items: center;
    background-color: #e8f6ea;
    justify-content: space-between;
    padding: 10px 80px;
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#cart{
    width: 20px;
    height: 20px;
}

.mobile-menu{
    display: none;
    align-items: center;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li .active{
    color: #0437F2;
}

/* adding psuedo class for line under each navigation link */
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30px;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 20px;
    background: #0437F2;
}

#close{
    display: none;
}

/* HOME PAGE */
#hero{
    background-image: url("img/beautiful-african-american-woman-natural-makeup-wear-fashion-clothes-casual-black-white-dress-code-office-style-total-blouse-pants-suit-hat.jpg");
    background-size: cover;
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h1{
    color: #0437F2;
}
#hero h4{
    padding-bottom: 16px;
}

button{
    padding: 9px 20px;
    border: 2px solid #0437F2;
    background: #0437F2;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    color: #E3E6F3;
    
}
.blue-button{
    box-shadow: 3px 2px 2px 3px#0437F2;
}
/* FEATURES */
#features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#features .features-box{
    width: 180px;
    text-align: center;
    padding: 30px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 8px;
    margin: 20px 0;
}

#features .features-box:hover{
    transform: scale(1.1);
}

#features .features-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    color: #fff;
    line-height: 1;
    background-color: #3F00FF;
    border-radius: 4px;
}
#features .features-box img{
    width: 100%;
    margin-bottom: 15px;
}

#features .features-box:nth-child(2) h6{
    background-color: #5D3FD3
}

#features .features-box:nth-child(3) h6{
    background-color: rgb(115, 210, 247);
}

#features .features-box:nth-child(4) h6{
    background-color: #00A36C;
}

#features .features-box:nth-child(5) h6{
    background-color: rgb(168, 247, 115);
}

/* PRODUCTS SECTION */

#first--products{
    text-align: center;
}

#first--products .product{
    width: 23%;
    max-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    margin: 15px 0;
    cursor: pointer;
    box-shadow: 20px 20px 38px rgba(0, 0, 0, 0.03);
    transition: 0.2s ease;
}

#first--products .product:hover{
    box-shadow: 20px 20px 38px rgba(0, 0, 0, 0.08);
}

#first--products .product img{
    width: 100%;
    border-radius: 10px;
}
#first--products h2{
    color: #0437F2;
}

#first--products .product .fas{
    color: gold;
    font-size: 12px;
}

#first--products .product .basket{
    width: 30px;
    height: 30px;
    line-height: 30px;
    background:#e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    border-radius: 50%;
}

.product--container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* 
BANNER SECTION */
#banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
}
#banner h4,#banner h2{
    color: #e8f6ea;
    font-weight: 700;
}
#banner span{
    color: #FAFA33;
}
.btn{
    margin-top: 15px;
    color: #FFF;
    border: none;
    outline: none;
}

#banner .discount-btn{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
}

/* BANNER PRODUCTS COLLECTION SECTION */
#sm-banner .banner--box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    background-image: url("img/changes/d3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 580px;
    height: 50vh;
    background-position: center;
    box-shadow: 20px 20px 38px rgba(0, 0, 0, 0.08);
    padding-left: 20px;
}

#sm-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .box--2{
    background-image: url("img/banner/b17.jpg");
}

#sm-banner .btn--banner{
    background-color: transparent;
    border: 1px solid #e8f6ea;
    border-radius: 4px;
}

.banner--box h4,h2,span,.btn--banner{
    color: #fff;
    font-weight: 700;
}

#sm-banner .banner--box:hover .btn--banner{
    background-color: #1F51FF;
    border: #1F51FF;
}

/* SECOND BANNER PRODUCTS SECTION */
#second--banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

#second--banner .lower--box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    background-image: url("img/changes/d7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 380px;
    height: 50vh;
    background-position: center;
    box-shadow: 20px 20px 38px rgba(0, 0, 0, 0.08);
    padding-left: 20px;
}

#second--banner .btn--banner{
    background-color: transparent;
    border: 1px solid #e8f6ea;
    border-radius: 4px;
}

#second--banner h4,
#second--banner h2,
#second--banner span,
.btn--banner{
    color: #fff;
    font-weight: 700;
}

#second--banner .lower--box--2{
    background-image: url("img/portrait-african-woman-wearing-traditional-accessories-posing.jpg");
}

#second--banner .lower--box--3{
    background-image: url("img/banner/b16.jpg");
}

#second--banner .lower--box:hover .btn--banner{
    background-color: #1F51FF;
    border: #1F51FF;
}
/* 
NEWSLETTER SECTION */
#news--letter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("img/banner/b14.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vh;
    background-color: #CCCCFF;
}

.news--text{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
    padding-left: 30px;
}
.sign--up--form{
    display: flex;
    padding-right: 40px;
}

#news--letter p{
    font-size: 14px;
    color: #fff;
    font-weight: 700;
}

#news--letter h1{
    font-size: 21px;
    color: #fff;
    font-weight: 700;
}

#news--letter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#news--letter button{
    padding: 2px 10px;
    width: 40%;
    font-size: 14px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 4px;
    height: 3.125rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* FOOTER */
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .col{
    line-height: 1;
}

footer .social--media img{
    height: 40px;
    width: 40px;
}

footer .box--2{
    padding: 20px 30px;
    margin-top: -65px;
    display: flex;
    flex-direction: column;
}

footer .box--2 a{
    text-decoration: none;
    padding-top: 10px;
    font-size: 16px;
    color: #465b52;
}

footer .install{
    margin-top: 35px;
    padding: 20px 30px;
    line-height: 1.5;
}

footer .install a{
    text-decoration: none;
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

footer .install .app--row{
    display: flex;
    align-items: center;
}
footer .install .app--row img{
    margin:10px 10px 10px 0;
    border: 1px solid #cce7d0;
    border-radius: 4px;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

footer .col a:hover{
    color: #088178;
}

footer .social--media img:hover{
    transform: scale(1.1);
}

/* SHOP PAGE CSS */
#page--banner{
    background-image: url("img/banner/b1.jpg");
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* Pagination */
#pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}

#pagination a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    width: 35px;
    height: 35px;
    padding: 4px 0;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: #088178;
    box-shadow: 1px 1px 1px #088178;
    margin: 10px;
    transition: all 0.3s;
}
#pagination a:hover{
    transform: translateY(10px);
}

/* SINGLE PRODUCT PAGE */

#product-details .single-product-img{
    width:40%;
    margin-right: 40px;
}
.single-product-img #main-img{
    border: 1px solid #cce7d0;
    border-radius: 4px;
}
#product-details .small-img-bundle{
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#product-details .small-img{
    margin-bottom: -5px;
}
#product-details .small-img-col{
    flex-basis: 32%;
    border: 1px solid #cce7d0;
    border-radius: 4px;
}

#product-details h2,h4,h6,p{
    color:#1a1a1a;

}

#product-details {
    display: flex;
}

#product-details .single-product-details{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 80px;
}
#product-details h6{
    margin-top: -60px;
    
}

#product-details select,form{
    margin-top: 10px
}
#product-details h2,h4,h6,p{
    margin-top: 10px;
}
#product-details form{
    display: flex;
}
#product-details form input{
    width: 15% ;
    text-align: center;
}
#product-details form button{
    padding: 4px 10px;
    border-radius: 3px;
    margin-left: 5px;
    color:#fff
}
.single-product-featured{
    border-top: 1px solid #CCCCFF;
    margin-bottom: 40px;
}

/* 
BLOG PAGE */

#blog--banner{
    background-image: url("img/banner/b19.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#first-blog,#second-blog,#third-blog,#fourth-blog{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogs .blog-img{
    width: 50%;
}

.blogs .blog-details{
    padding: 20px 40px 0 40px;
    display: flex;
    flex-direction: column;
}

.blogs a{
    text-decoration: none;
    color:#6e6a6a;
    border-bottom: 2px solid #CCCCFF;
    width: 14%;
    margin-top: 20px;
}

.blogs span,p{
    color: #6e6a6a;
}

#third-blog .blog-img{
    height: 10%;
}




/* MEDIA QUERIES */
@media (max-width:799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content:flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width:300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 18px;
        transition: all 0.4s;
    }

    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 20px;
    }

    .mobile-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-menu #bars{
        font-size: 20px;
        margin-top: -5px;
        margin-right: 15px;
        cursor: pointer;
    }
    
    #close{
        /* display initial ensure that even the close
        button has set to display none in the 
        large screen. it ensures is displayed
        in the medium here. */
        display: initial;
        position: absolute;
        top:20px;
        right:30px;
        color: #222;
        font-size: 24px;
    }
/* removes cart from hamburger menu */
    #cart--hidden{
        display: none;
    }

    /* making Hero secction responsive */
    #hero {
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
        padding-left: 10px;
    }
    #hero h1{
        font-size: 45px;
    }
    #hero h2{
        font-size: 40px;
    }

    .product--container {
        justify-content: center;
    }

    #first--products{
        padding-left: 40px;
        padding-right: 40px;
    }

    #first--products .product {
        width: 35%;
        padding: 10px 12px;
        margin: 15px 20px;
    }

    #banner {
        height: 30vh;
    }

    #sm-banner {
        justify-content:center;
    }

    #sm-banner .banner--box {
        margin: 20px 0;
    }

    #second--banner {
        justify-content: center;
    }

    #second--banner .lower--box {
        min-width: 580px;
        height: 50vh;
        margin: 20px 0;
    }

    #news--letter {
        justify-content: center;
        width: 100%;
        height: 30vh;
        background-color: #5f4875;
        padding: 0 40px;
    }

    .news--text {
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    .sign--up--form {
        margin-top: -20px;
        padding-right: 0px;
        margin-left:45px;
    }

    footer .social--media img {
        margin: 10px 0;
    }

    footer .box--2 {
        padding: 20px 30px;
        margin-top:20px;
    }

    
    /* BLOG PAGE */
    #blog--banner {
        height: 20vh;
    }

    .blogs .blog-img {
        width:140%;
    }

    #first-blog, #second-blog, #third-blog, #fourth-blog {
        padding-left: 20px;
        padding-right: 20px;
    }

    .blogs a {
        width: 35%;
    }
}

@media (max-width:477px) {
    #header {
        padding: 10px 30px;
    }

    #hero {
        height: 70vh;
        background-position: top 10% right 40%;
        padding: 0 65px;
        padding-left: 10px;
        padding-bottom: 50px;
        padding-top: 40px;
    }

    button {
        padding: 9px 20px;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 700;
        font-size: 18px;
        margin-left: 120px;
    }

    #features {
    padding-left: 37px;
    padding-right: 15px;
    }

    #features .features-box h6 {
        display: inline-block;
        padding: 20px 10px 20px 10px;
        font-size: 17px;
    }
    #features .features-box {
        width: 280px;
        padding: 30px 35px;
        margin: 20px 0;
    }



    p {
        font-size: 20px;
    }

    #first--products {
        padding-left: 10px;
        padding-right: 10px;
    }
    .product--container {
        padding-left:10px ;
        padding-right: 10px;
    }

    #first--products .product {
        width: 380px;
        padding: 10px 15px;
        margin: 15px 0px;
    }
    #banner h4, #banner h2 {
        font-size: 28px;
    }
    .btn {
        margin-top: 10px;
        margin-bottom: 20px;
        margin-right: 95px;
    }



    #sm-banner .banner--box {
        min-width: 340px;
        padding-left: 20px;
    }
    .banner--box h2{
    font-size: 30px;
    }
    #sm-banner .btn--banner {
        width: 155px;
        border-radius: 4px;
        margin-left:-4px;
    }


    #second--banner .lower--box {
        min-width: 340px;
        padding-left: 20px;
    }
    #second--banner h2{
        font-size: 30px;
    }
    #second--banner .btn--banner {
        width: 155px;
        border-radius: 4px;
        margin-left:-4px;
    }


    #news--letter {
        padding: 0 20px;
    }
    #news--letter p {
        font-size: 16px;
        margin-top: -10px;
    }
    #news--letter input {
        height: 3.125rem;
        padding: 0 1.25rem;
        font-size: 14px;
        width: 200px;
        border-radius: 4px;
    }
    #news--letter button {
        padding: 2px 10px;
        width: 40%;
        font-size: 14px;
        border-radius: 4px;
        height: 3.125rem;
        margin-left:-20px;
    }
    .sign--up--form {
        margin-left:-20px
    }


    footer.section-p1 {
        padding: 20px 20px;
    }
    footer h4{
        font-size: 20px;
    }
    footer p{
        font-size: 18px;
    }
    footer .box--2 {
        margin-left: -25px;
    }
    footer .box--2 a{
        font-size: 18px;
    }
    footer .install {
        margin-left: -25px;
    }
    footer .install a {
        font-size: 18px;
    }
    footer .install .app--row {
        width: 324px;
    }
    footer .install .app--row img {
        width: 142px;
    }

    
    /* FOR SINGLE PAGES */
    #product-details {
        flex-direction: column;
        padding: 20px 20px;
    }

    #product-details .single-product-img {
        width: 100%;
    }

    #product-details .single-product-details {
        width: 100%;
    }

    #product-details select{
        padding: 5px 2px;
        border: 1px solid #646480;
    }

    #product-details h6 {
        font-size: 16px;
    }

    #product-details h4 {
        font-size: 20px;
    }

    #product-details h2 {
        font-size: 26px;
    }

    #product-details form {
        margin-top: 20px;
    }

    #product-details form input {
        border: 1px solid #646480;
    }

    
    /* BLOG PAGE */
    #first-blog, #second-blog, #third-blog, #fourth-blog {
        flex-direction: column;
    }

    .blogs .blog-details {
        padding:20px 0 0 0;
        flex-direction: column;
    }
}
